# Comentario en markdown

In [ ]:
"""Comentario de multiples 
lineas""" 

# Comentario en python de una linea

# imprimir
print("este es un print")

este es un print

# Variables

In [ ]:
# entero
entero1 = 1
entero2 = -234235

# decimal
float1 = 2.8  
float2 = -2432.324

# Complejo
complejo1 = 1j

# String
string1 = "hola"
string2 = '23423'

# Booleanos
booleano1 = True
booleano2 = False

# Ver el tipo de variable
type(complejo1)

complex

In [ ]:
string1 = string1.replace('o', 'u')
string1[0]

'h'

# Casting

In [ ]:
# para pasar de un tipo de dato a otro
string1 = '234'
print(f'la variable es de tipo {type(string1)}')

# Pasar a entero:
string1 = int(string1)
print(f'la variable ahora es de tipo {type(string1)}')

# Pasar a decimal:
string1 = float(string1)
print(f'la variable ahora es de tipo {type(string1)}')

# Pasar a string:
string1 = str(string1)
print(f'la variable ahora es de tipo {type(string1)}')

la variable es de tipo <class 'str'>
la variable ahora es de tipo <class 'int'>
la variable ahora es de tipo <class 'float'>
la variable ahora es de tipo <class 'str'>

# Operaciones aritmeticas

In [ ]:
# Con input podemos solicitar que la persona digite un valor por consola
numero1 = int(input('diga un numero: '))
numero2 = int(input('diga otro numero: '))

# Suma:
suma = numero1 + numero2
print(f'la suma de {numero1} y {numero2} es {suma}')

# Resta:
resta = numero1 - numero2
print(f'la resta de {numero1} y {numero2} es {resta}')

# MultiplicaciÃ³n:
multiplicacion = numero1 * numero2
print(f'la multiplicacion de {numero1} y {numero2} es {multiplicacion}')

# Division:
division = numero1 / numero2
print(f'la division de {numero1} y {numero2} es {division}')

# modulo:
modulo2 = numero1 % 2
print(f'el modulo entre 2 de {numero1} es {modulo2}')

# Potencia
potencia = numero1 ** 2
print(f'la potencia de {numero1} en base 2 es {potencia}')

# Division entera:
division_entera = numero1 // numero2
print(f'la division entera de {numero1} y {numero2} es {division_entera}')

diga un numero: 3
diga otro numero: 4
la suma de 3 y 4 es 7
la resta de 3 y 4 es -1
la multiplicacion de 3 y 4 es 12
la division de 3 y 4 es 0.75
el modulo entre 2 de 3 es 1
la potencia de 3 en base 2 es 9
la division entera de 3 y 4 es 0

# Operaciones logicas (retornaran un booleano)

In [ ]:
# pedir 2 numeros
numero1 = int(input('diga un numero: '))
numero2 = int(input('diga otro numero: '))

# comparar si dos numeros son iguales:
comparacion = numero1 == numero2
print(f'la afirmacion {numero1} es igual a {numero2} es {comparacion}')

# mayor (>) y mayor o igual (>=):
comparacion = numero1 > numero2
print(f'la afirmacion {numero1} es mayor a {numero2} es {comparacion}')

# menor (<) y menor o igual (<=):
comparacion = numero1 < numero2
print(f'la afirmacion {numero1} es menor a {numero2} es {comparacion}')

"""Tambien podemos complementr usando operaciones logicas"""
# operacion and:
# Se deben cumplir ambas
comparacion = numero1 < numero2 and numero1 > 0
print(f'la afirmacion {numero1} es menor a {numero2} y {numero1} es positivo es {comparacion}')

# operacion or:
# Se deben cumplir una
comparacion = numero1 < numero2 or numero1 > 0
print(f'la afirmacion {numero1} es menor a {numero2} o {numero1} es positivo es {comparacion}')

# operacion not
comparacion = not(numero1 < numero2 or numero1 > 0)
print(f' {comparacion}')

diga un numero: 3
diga otro numero: 4
la afirmacion 3 es igual a 4 es False
la afirmacion 3 es mayor a 4 es False
la afirmacion 3 es menor a 4 es True
la afirmacion 3 es menor a 4 y 3 es positivo es True
la afirmacion 3 es menor a 4 o 3 es positivo es True
 False

# Condiciones if - else

In [ ]:
numero1 = int(input('diga un numero: '))

# if
if (numero1 > 0):
    print(f' el numero {numero1} es positivo')
# else if
elif numero1 < 0:
    print(f' el numero {numero1} es negativo')
# else
else:
    print(f'el numero {numero1} es 0')

diga un numero: 3
 el numero 3 es positivo

# Listas, arreglos, diccionarios

In [ ]:
lista = []
# lista de string:
lista_strings = ["esta", "es", "una", "lista"]
# lista de numeros:
lista_int = [[1,2,3,4,5,6],
             [1,2,3,4,5,5]]
# lista de multiples tipos de datos
lista = [1,"hola", True, 4]

# tambien podemos tener tuplas:
# Las tuplas son listas con valores no variables
tupla1 = (1,2,3,4)
# Set (Valores unicos)
set1 = {1,2,3,4,4,4,5} 

# Para ver la lista
print(f"La lista tiene los items: {lista}")

# ver la longitud de la lista (len)
print(f"La lista tiene {len(lista)} items")

# indexar
print(f"en la primera casilla la lista tiene el item: {lista[0]}")
print(f"en la segunda casilla la lista tiene el item: {lista[1]}")

# insertar por index:
lista.insert(1, "nuevo item")
print(f'la lista ahora es {lista}')

# aÃ±adir item al final:
lista.append("nuevo item2")
print(f'la lista ahora es {lista}')

La lista tiene los items: [1, 'hola', True, 4]
La lista tiene 4 items
en la primera casilla la lista tiene el item: 1
en la segunda casilla la lista tiene el item: hola
la lista ahora es [1, 'nuevo item', 'hola', True, 4]
la lista ahora es [1, 'nuevo item', 'hola', True, 4, 'nuevo item2']

In [ ]:
lista_int[1][5]

5

# Diccionarios

In [ ]:
diccionario = {
  "personas": ['David','Andrea'],
  "clase": "data science",
  "aÃ±o": 2021
}

# imprimir
print(f"el diccionario tiene los items: {diccionario}")

# indexar
print(f'el diccionario en personas tiene a {diccionario["personas"]} ')

el diccionario tiene los items: {'personas': ['David', 'Andrea'], 'clase': 'data science', 'aÃ±o': 2021}
el diccionario en personas tiene a ['David', 'Andrea']

# Foor loop

In [1]:
# Cear ciclo for con un rango de numeros
# De 0 a 9 en este caso
for i in range(0,10):
    print(i)

print("-------")

# Cear ciclo for con base a la longitud de una lista
lista = ["hola", "como", "estas"] # lista
# Recorrer indice o rango
for i in range(0,len(lista)):
    print(lista[i])

print("-------")

# Recorrer lista con cilco for
for i in lista:
    print(i)

0
1
2
3
4
5
6
7
8
9
-------
hola
como
estas
-------
hola
como
estas

# While

In [ ]:
i = 1

# mientras se cumpla condicion (i < 6 en este caso):
while i < 6:
    # imprima i
    print(i)
    # Modificamos i
    # i = i + 1
    i += 1

1
2
3
4
5

# funciones

In [2]:
# Funcion que hace suma
def suma(x, y):
    resultado = x + y
    print(resultado)
    resultado2 = x + 2
    # Retornar dos resultados
    return resultado, resultado2
    
# funcion que hace resta
def resta(x, y):
    resultado = x - y
    print(resultado)
    return resultado

In [5]:
# probar la primera funciÃ³n y guardar los resultados en resultado_suma y resuktado_x2 
resultado_suma, resuktado_x2 = suma(1,56)

57

In [ ]:
# Probar la funciÃ³n de resta
resta(1,56)

-55

# Clase

In [18]:
# Clase Persona
class Persona:
    # Constructor
    def __init__(self,nombre,edad):
        self.nombre = nombre
        self.edad = edad
        
    # Getter
    def get_nombre(self):
        return self.nombre
    
    def get_edad(self):
        return self.edad
    # Setter
    def set_nombre(self, nombre):
        self.nombre = nombre
    
    def set_edad(self, edad):
        self.edad = edad
    
    # Metodo extra
    def aumentar_un_anio(self):
        self.edad += 1

In [23]:
# Crear instancia de persona
david = Persona("David", 22)
print(f'la clase persona tiene nombre: {david.get_nombre()} y edad: {david.get_edad()}')

la clase persona tiene nombre: David y edad: 22

In [24]:
david.set_edad(23)
print(f'la clase persona tiene nombre: {david.get_nombre()} y edad: {david.get_edad()}')

la clase persona tiene nombre: David y edad: 23

In [25]:
david.aumentar_un_anio()
print(f'la clase persona ahora tiene edad: {david.get_edad()}')

la clase persona ahora tiene edad: 24